<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="dj4e" content="995665640dc319973d3173a74a03860c">
    <title>MyDjango</title>
</head>
<body>
    <li>
        <p><a href="/hello">Test the session</a></p>
    </li>

    <ul>
        <li>
            <p><a href="/polls">A Polls Application</a></p>
             <p><a href="/autos">Autos CRUD</a></p>            
        </li>
    </ul>

    <li>
        
    </li> 
        
</body>
</html>